
<a href="nofollow"><%= redirect_  %> </a>
<script>
    document.addEventListener('DOMContentLoaded',() => {
        console.log(document.querySelector('a').innerText)
        window.location.href = document.querySelector('a').innerText;
    })
</script>