<section class="banner-ads d-none d-sm-block">
	<div class="container">
		<div class="row banner-ads__content">
			<div class="col-md-8 mx-auto">
				<div class="banner-ads__img">
					<a href="/dang-ky" rel="nofollow">
						<img class="img-fluid" src="/template/user/img/ads-01.jpg" alt="Waodate.com - Đăng kí thành viên Waodate">
					</a>
				</div>
			</div>
		</div>
	</div> 
</section>