<footer class="wao-footer">
    <div class="container-fluid wao-container">
        <div class="row">
            <div class="col-12 wao-mb">
                <div class="logo text-center">
                    <a href="/">
                        <img src="/template/front-end-new/img/home/waodate_logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="logo wao-pc">
                    <a href="/">
                        <img src="/template/front-end-new/img/home/waodate_logo.svg" style="width:156px" alt="logo">
                    </a>
                </div>
                <ul class="wao-socials">
                    <li><a href="https://www.instagram.com/waodate.official/" target="_blank"><span><img
                                    src="/template/front-end-new/img/home/instagram_logo.svg"
                                    alt=""></span>Instagram</a></li>
                    <li><a href="https://www.facebook.com/waodate" target="_blank"><span><img
                                    src="/template/front-end-new/img/home/fb_icon.svg" alt=""></span>Facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCGkKti5hYoAF_t4nhafh_Bw" target="_blank"><span><img
                                    src="/template/front-end-new/img/home/youtube_icon.svg" alt=""></span>Youtube</a>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <div class="row session-footer">
                    <div class="col-6 col-lg-4 ">
                        <h3>Về chúng tôi</h3>
                        <p><a href="/lien-he">Liên hệ</a></p>
                        <p><a href="/blog">Blog</a></p>
                        <p><a href="/an-toan-hen-ho">An Toàn Hẹn Hò</a></p>
                    </div>
                    <div class="col-6 col-lg-4">
                        <h3>Thông tin thêm</h3>
                        <p><a href="/chinh-sach-va-quy-dinh">Chính sách và quy định</a></p>
                        <p><a href="/chinh-sach-bao-mat">Chính sách bảo mật</a></p>
                        <p><a href="/quy-trinh-thanh-toan">Quy trình mua hàng và thanh toán dịch vụ</a></p>
                        <!-- <p><a>FAQ</a></p> -->
                    </div>
                    <div class="col-lg-4 wao-pc">
                        <!-- <h3>Tải ứng dụng</h3>
                        <p><a>Apple Store</a></p>
                        <p><a>Google Play</a></p> -->
                        <h3>Gói dịch vụ</h3>
                        <p><a href="/goi-dich-vu">Nâng cấp tài khoản</a></p>
                        <p><a href="/ca-nhan/luot-hien-thi">Lượt hiển thị</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 about-us">
              <div class=" wrapped-about-us">
              <div class="">
                  <img src="/template/front-end-new/img/logo_main_menu.svg" alt="" style="width: 100%; height: 100%;">
              </div>
              <div class="info-us">
                  <h3>CÔNG TY TNHH MTV NGUYỄN ĐÌNH NGHĨA</h3>
                  <p class="t-detail"><strong>Địa chỉ trụ sở chính</strong>: 25/19 Nam Hòa, Phường Phước Long A, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                  <p class="t-detail"><strong>Người chịu trách nhiệm chính</strong>: <b>NGUYỄN ĐÌNH NGHĨA</b></p>
                  <p class="t-detail"><h2 style="font-size: 13px; font-weight: 600; display: inline;line-height: 29px;">Số hotline Waodate</h2>: <a href="tel:+842836207133" style="font-size: 13px; font-weight: 500; display: inline;line-height: 29px;">028 3620 7133</a></p>
                  <p class="t-detail"><strong>Mã số doanh nghiệp</strong>: 0314940727</p>
              </div>
              <div class="col-md-4 permission">
                <a href="http://online.gov.vn/Home/WebDetails/69573" class="p-pct">
                </a>
                <!-- <a href="" target="_blank" title="DMCA.com Protection Status" class="p-dmca">
                </a> -->
                <!-- <a href="//www.dmca.com/Protection/Status.aspx?ID=f7f8ab86-b11d-4bd9-9e51-9341931850ed" title="DMCA.com Protection Status" class="dmca-badge" target="_blank" rel="nofollow"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-03.png?ID=f7f8ab86-b11d-4bd9-9e51-9341931850ed" alt="DMCA.com Protection Status" /> -->
                <a href="//www.dmca.com/Protection/Status.aspx?ID=f7f8ab86-b11d-4bd9-9e51-9341931850ed" title="DMCA.com Protection Status" class="dmca-badge" target="_blank" rel="nofollow"> <img src ="https://images.dmca.com/Badges/DMCA_badge_grn_60w.png?ID=f7f8ab86-b11d-4bd9-9e51-9341931850ed" alt="DMCA.com Protection Status" />
              </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row end-footer">
        <div class="col-md-8 location-ft">
          <p >
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; GPHĐ: Số 187/GP-BTTTT
          </p>
          <p class="ft-mg">
            <i class="fa fa-envelope" aria-hidden="true"></i>  &nbsp; <a href="mailto:Quanly@waodate.com">Quanly@waodate.com</a>
            </p>
          <!-- <p class="ft-mg">
            <i class="fa fa-phone" aria-hidden="true"> </i>&nbsp; <a href="tel:0932782287">0932782287</a>
          </p> -->
        </div>
        <div class="col-md-4">
          <div class="col-md-12" style="float: right;">
            <p style="float: right;">
              © 2020 - Bản quyền của Công Ty TNHH MTV NDN
            </p>
          </div>
        </div>
      </div>
</footer>

<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>