<!-- <div class="warningUpgrade">
    <div class="wrapWarningUpgrade">
      <h2>Thông báo nâng cấp hệ thống</h2>
      <div class="warningUpgradeContent">
          <p>
              Hiện tại chúng tôi đang tiến hành nâng cấp hệ thống. Vui lòng chỉ xem và không chỉnh sửa thông tin để tránh mất dữ liệu. Xin cảm ơn!
          </p>
          <button class="btnClosePopupWarning">Đóng</button>
      </div>
    </div>
  </div>
  <div class="overlayPopupWarning"></div> -->
  
<!--   <script>
    if("<#%=process.env.STATUS %>" === "maintain") { 
      let overlaypoPup = document.querySelector('.overlayPopupWarning');
      let warningUpgrade = document.querySelector('.warningUpgrade');
      let btnClosePopupWarning =  document.querySelector('.btnClosePopupWarning');
      
      overlaypoPup.classList.add('active');
      warningUpgrade.classList.add('active');
  
      btnClosePopupWarning.addEventListener('click', ()=> {
        warningUpgrade.classList.remove('active');
        overlaypoPup.classList.remove('active');
      })
      overlaypoPup.addEventListener('click', ()=> {
        warningUpgrade.classList.remove('active');
        overlaypoPup.classList.remove('active');
      })
    }
  </script> -->
  