<footer id="footer" class="footer-wrapper footer-1">
	<div class="footer-top-wrap ptb-30 bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-6 col-lg-5 hidden-sm">
					<div class="zm-widget pr-40">
						 <%if (render.inc == 'inc/blog/index'){%>
							<h1 class="h6 zm-widget-title uppercase text-white mb-20"> WAODATE BLOG</h1>
						<%}else{%>
							<p class="h6 zm-widget-title uppercase text-white mb-20"> WAODATE BLOG</p>
						<%}%>
						<div class="zm-widget-content">
							<p>"Waodate Blog là nơi sẻ chia tâm sự về tình yêu, bí quyết yêu và những câu chuyện hôn nhân. Hãy cùng bày tỏ nỗi lòng để tìm kiếm sự đồng cảm và có thêm những người bạn tri kỷ tại đây."</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
					<div class="zm-widget">
						<p class="h6 zm-widget-title uppercase text-white mb-20">Follow Waodate :</p>
						<div class="zm-widget-content">
							<div class="zm-social-media zm-social-1">
								<ul>
									<li>
										<a target="_blank" href="https://www.facebook.com/waodate" rel="nofollow">
											<i class="fa fa-facebook"></i>Facebook WaoDate
										</a>
									</li>
									<li>
										<a target="_blank" class="disabled1" href="https://twitter.com/waodate" rel="nofollow">
											<i class="fa fa-twitter"></i>Twitter Waodate
										</a>
									</li>
									<li>
										<a target="_blank" class="disabled1" href="https://www.pinterest.com/Waodate/" rel="nofollow">
											<i class="fa fa-pinterest"></i>Pinterest WaoDate
										</a>
									</li>
									<li>
										<a target="_blank" class="disabled1" href="https://www.instagram.com/datingwaodate/" rel="nofollow">
											<i class="fa fa-instagram"></i>Instagram WaoDate
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
					<div class="zm-widget pr-50 pl-20">
						<p class="h6 zm-widget-title uppercase text-white mb-20">Chuyên mục phổ biến</p>
						<div class="zm-widget-content">
							<div class="zm-category-widget zm-category-1">
								<ul style="text-transform: capitalize;">
									<li>
										<a href="/blog/bi-kip-hen-ho" rel="nofollow">Hẹn hò online </a>
									</li>
									<li>
										<a href="/blog/bi-kip-yeu" rel="nofollow">Bí Kíp Yêu </a>
									</li>
									<li>
										<a href="/blog/waodate-tips" rel="nofollow">Waodate Tips </a>
									</li>
									<li>
										<a href="/blog/tu-vi-trong-tinh-yeu" rel="nofollow">Tử vi trong tình yêu</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>