<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Quản lý bất động sản</li>
                            <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i><span> Đất <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                                <ul class="submenu">
                                    <li><a href="/admin/list-deposit">Danh Sách Kí Gửi</a></li>
                                    <li><a href="/admin/add-real-estate">Tạo Kí Gửi</a></li>
                                    <!-- <li><a href="/admin/list-user-blog">Danh Sách User Blog</a></li>
                                    <li><a href="/admin/add-user-blog">Tạo User blog</a></li> -->
                                </ul>
                                
                            </li>
                            <li class="menu-title">Bài Viết</li>
                            <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i><span> Blog <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                                <ul class="submenu">
                                    <li><a href="/admin/list-blog">Danh Sách Bài Viết</a></li>
                                    <li><a href="/admin/add-blog">Tạo Bài Viết</a></li>
									 <!-- <li><a href="/admin/list-user-blog">Danh Sách User Blog</a></li>
                                    <li><a href="/admin/add-user-blog">Tạo User blog</a></li> -->
                                </ul>
								
                            </li>
                            <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-buffer"></i><span> Khách Hàng <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                                <ul class="submenu">
                                    <li><a href="/admin/list-contact">Danh Sách Khách Hàng</a></li>
                                    <li><a href="/admin/add-category">Tạo Khách Hàng</a></li>
                            <!-- <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-code-braces"></i><span> Short Code<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                                <ul class="submenu">
                                    <li><a href="/admin/list-shortcode">Danh Sách Short Code</a></li>
                                    <li><a href="/admin/add-shortcode">Tạo ShortCode</a></li>
                                </ul>
                            </li>
                 -->
               

                <!-- SUPERADMIN WORKPLACEs -->
                          
<!-- 
                <li class="menu-title">Tích Điểm</li>
                <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-card-details"></i><span> Thẻ Thành Viên <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="email-inbox.html">Tổng Quan</a></li>
                        <li><a href="email-read.html">Khách Hàng</a></li>
                        <li><a href="email-read.html">Hạng Thẻ Tích Điểm</a></li>
                        <li><a href="email-inbox.html">Cấu Hình</a></li>
                    </ul>
                </li>
                <li class="menu-title">Thống Kê</li>
                <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-line"></i><span> Báo Cáo <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="email-inbox.html">Báo Cáo Khách Hàng</a></li>
                        <li><a href="email-read.html">Báo Cáo Sản Phẩm</a></li>
                        <li><a href="email-read.html">Báo Cáo Khuyến Mãi</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->

</div>