<style>
    main img {
        width: 90%;
        margin: 15px auto;
        max-width: 1280px;
    }
</style>
<main style='background-color: white; margin: 20px'>
<div class='container br-8'></div>
<h2 style='text-align:center'><strong>QUY TRÌNH MUA HÀNG VÀ THANH TOÁN DỊCH VỤ</strong></h2>

<p><strong>QUY TR&Igrave;NH MUA H&Agrave;NG V&Agrave; THANH TO&Aacute;N DỊCH VỤ </strong></p>
<p>Waodate.vn&nbsp; được x&acirc;y dựng nhằm hỗ trợ tối đa cho kh&aacute;ch h&agrave;ng c&oacute; nhu cầu hẹn h&ograve; v&agrave; nhữngbuổi gặp gỡ như mơ đầy l&atilde;ng mạn, phong c&aacute;ch v&agrave; đẳng cấp do người d&ugrave;ng Waodate.com tự tay thiết kế. Kh&ocirc;ng chỉ cung cấp đầy đủ th&ocirc;ng tin c&aacute;c g&oacute;i mua lượt hiển thị, Waodate.com&nbsp; c&ograve;n tư vấn th&ecirc;m nhiều lựa chọn nhiều g&oacute;i dịch vụ ph&ugrave; hợp với nhu cầu của kh&aacute;ch h&agrave;ng, đồng thời cung cấp cho kh&aacute;ch h&agrave;ng danh s&aacute;ch c&aacute;c người d&ugrave;ng với đầy đủ th&ocirc;ng tin t&ecirc;n,tuổi,tr&igrave;nh độ học vấn,giới thiệu bản th&acirc;n&hellip; bảo đảm cho kh&aacute;ch h&agrave;ng tr&aacute;nh gặp phải những trường hợp hẹn h&ograve; kh&ocirc;ng đ&uacute;ng với th&ocirc;ng tin tr&ecirc;n website&hellip; tr&ecirc;n internet.</p>
<p><strong>Bảng b&aacute;o gi&aacute; về c&aacute;c g&oacute;i dịch vụ tăng lượt hiển thị của Waodate</strong> được đăng tải tại mục <strong><em>&ldquo; Bảng gi&aacute; dịch vụ&rdquo;</em></strong> tr&ecirc;n website. Qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; thể v&agrave;o tham khảo v&agrave; lựa chọn.</p>
<p>Tại waodate.com&nbsp; Kh&aacute;ch h&agrave;ng c&oacute; thể lựa chọn h&igrave;nh thức mua th&ecirc;m lượt hiển thị để tăng tương t&aacute;c với c&aacute;c người d&ugrave;ng kh&aacute;c tr&ecirc;n trang web</p>
<p>Kh&aacute;ch h&agrave;ng c&oacute; thể lựa chọn rất nhiều g&oacute;i mua kh&aacute;c nhau t&ugrave;y theo nhu cầu của người mua, c&aacute;c g&oacute;i c&oacute; nhiều ưu đ&atilde;i v&agrave; th&ocirc;ng tin tr&ecirc;n từng g&oacute;i sản phẩm</p>
<p><strong>Phương thức thanh to&aacute;n tại </strong><strong>Waodate.com</strong>.</p>
<p>&nbsp;</p>
<p>C&aacute;c h&igrave;nh thức thanh to&aacute;n khi mua h&agrave;ng tại Waodate.com.</p>
<p>Khi qu&yacute; kh&aacute;ch mua g&oacute;i lượt hiển thị của Waodate.com. qu&yacute; kh&aacute;ch c&oacute; thể thanh to&aacute;n qua h&igrave;nh thức thẻ ATM, thẻ t&iacute;n dụng, QRCode</p>
<p>7.1. Thanh to&aacute;n bằng thẻ</p>
<p>-Kh&aacute;ch h&agrave;ng nhập th&ocirc;ng tin v&agrave; thanh to&aacute;n theo hướng dẫn tr&ecirc;n website Waodate.com.</p>
<p>Bước 1: V&agrave;o phần mua lượt hiển thị b&ecirc;n g&oacute;c tr&aacute;i website</p>
<p>Bước 2: Chọn những g&oacute;i mua lượt hiển thị theo nhu cầu của kh&aacute;ch h&agrave;ng</p>

<img src="/template/policy/goihienthi.png" alt="">
<p>Bước 3: X&aacute;c nhận v&agrave; thanh to&aacute;n</p>

<img src="/template/policy/baokim.jpg" alt="">
<p>-Sau khi lựa chọn g&oacute;i mua lượt hiển thị v&agrave; thanh to&aacute;n th&agrave;nh c&ocirc;ng (c&oacute; x&aacute;c nhận từ đơn vị trung gian thanh to&aacute;n Bảo Kim th&igrave; hệ thống waodate.com sẽ gửi cho người d&ugrave;ng th&ocirc;ng tin đầy đủ về lịch sử thanh to&aacute;n:</p>
<p>&nbsp;</p>

<img src="/template/policy/lichsuthanhtoan.jpg" alt="">
<p>- waodate.com lu&ocirc;n cập nhật những th&ocirc;ng tin cần thiết nhất cho kh&aacute;ch h&agrave;ng sau khi mua th&agrave;nh c&ocirc;ng g&oacute;i lượt hiển thị, loại g&oacute;i mua, ng&agrave;y hết hạn, th&ocirc;ng tin tr&ecirc;n hồ sơ,....</p>
<p>- Đặc th&ugrave; của dịch vụ sau khi x&aacute;c nhận thanh to&aacute;n sẽ ngay lập tức tăng lượt hiển thị. Kh&aacute;ch h&agrave;ng c&oacute; thể kiểm tra m&igrave;nh c&oacute; bao nhi&ecirc;u lượt hiển thị tr&ecirc;n t&agrave;i khoản của m&igrave;nh m&agrave; kh&ocirc;ng cần phải chờ đợi vận chuyển hay c&agrave;i đặt bất cứ th&ocirc;ng tin g&igrave;. Kh&aacute;ch h&agrave;ng c&oacute; thể kiểm tra số lượt được hiển thị c&ograve;n lại tr&ecirc;n trang c&aacute; nh&acirc;n của m&igrave;nh.</p>
<ul>
<li>T&agrave;i Khoản trước khi mua lượt hiển thị:</li>
<img src="/template/policy/taikhoantruockhimualuot.jpg" alt="">
<li>T&agrave;i khoản sau khi mua lượt hiển thị:</li>
<img src="/template/policy/taikhoansaukhimualuot.jpg" alt="">
<img src="/template/policy/taikhoansaukhimuacu.jpg" alt="">
</ul>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>MỘT SỐ LƯU &Yacute; VỀ NGHĨA VỤ CỦA KH&Aacute;CH H&Agrave;NG KHI SỬ DỤNG DỊCH VỤ:</strong></p>
<p><strong>+ </strong><strong>Kh&aacute;ch h&agrave;ng cần r&agrave; so&aacute;t v&agrave; x&aacute;c nhận th&ocirc;ng tin chi tiết về từng giao dịch thanh to&aacute;n trước khi thực hiện việc thanh to&aacute;n của m&igrave;nh.</strong></p>
<p><strong>+ Kiểm tra lại th&ocirc;ng tin c&aacute; nh&acirc;n v&agrave; ng&agrave;y hết hạn của g&oacute;i mua lượt hiển thị</strong></p>
<p><strong>+ Trong trường hợp kh&aacute;ch h&agrave;ng đ&atilde; thanh to&aacute;n nhưng th&ocirc;ng tin về g&oacute;i mua lượt hiển thị hoặc th&ocirc;ng tin c&aacute; nh&acirc;n của kh&aacute;ch h&agrave;ng bị sai lệch h&atilde;y li&ecirc;n hệ ngay</strong><em>: <strong>0932782287</strong> &nbsp;hoặc địa chỉ mail: </em><a href="mailto:quanly@waodate.com">quanly@waodate.com</a><em> để được giải đ&aacute;p thắc mắc.</em></p>
<p>&nbsp;</p>

</div>
</main>