<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/template/front-end-new/styles/homeNew.css" rel="stylesheet" />
</head>
<body>
    <main style="height:  auto;">
        <div class="waodate-wrapper">
            <!-- home banner slider -->
            <div class="homeSliderBanner">
                <div class="overlayBannerSlide" draggable="true" ></div>
    
                <!-- navigation -->
                <nav class="navigationWaodate waodate-container">
                    <a href="/" class="logoWaodate">
                        <img src="template/front-end-new/img/imagePageHomeNew/logoWaodate.svg" alt="logo">
                    </a>
                  
                    <div class="navWrapBtn">
                        <a href="/dang-nhap" class="btnLogin">Đăng nhập</a>
                        <div class="btnMenu">
                            <div class="btnMenuLine"></div>
                            <div class="btnMenuLine"></div>
                        </div>
                    </div>
                </nav>
    
                <!-- image slide pc -->
                <img class="imageSlideBanner" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderHome04.jpg" alt="banner 4">
                <img class="imageSlideBanner active" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderHome01.jpg" alt="banner 1">
                <img class="imageSlideBanner" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderHome02.jpg" alt="banner 2">
                <img class="imageSlideBanner" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderHome03.jpg" alt="banner 3">
    
    
                <!-- image slide mobile -->
                <img class="imageSlideBanner-mobile" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderMobile04.jpg" alt="banner 4">
                <img class="imageSlideBanner-mobile active" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderMobile01.jpg" alt="banner 1">
                <img class="imageSlideBanner-mobile" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderMobile02.jpg" alt="banner 2">
                <img class="imageSlideBanner-mobile" draggable="true" src="/template/front-end-new/img/imagePageHomeNew/bannerSliderMobile03.jpg" alt="banner 3">
                
                <div class="homeSliderBannerContent">
                    <div class="homeSliderBannerTxt">
                        <h1 class="hiddenTxt">Trang hẹn hò với <br>
                            <strong>các anh chàng chín chắn</strong></h1>
                        <h1 class="txtItem active" style="font-weight: 300;">Trang hẹn hò với <br>
                            <strong>các anh chàng chín chắn</strong>
                        </h1>
                        <h1 class="txtItem" style="font-weight: 300;">Trăm ngàn lời chat<br>
                            <strong >không bằng một lát bên nhau</strong>
                        </h1>
                    </div>
                    <div class="wrapBtnhomeSliderBanner">
                        <a href="/dang-nhap" class="btnLogin">Đăng nhập</a>
                        <a href="/dang-ky" class="btnRadianBlue">Đăng ký ngay</a>
                        <a href="#homeSliderUserID" class="btnOutline">Tìm hiểu thêm</a>
                    </div>
                </div>
    
                <div class="wrapDotControl">
                    <ul class="listDotControl">
                        <li class="dotControlItem active"></li>
                        <li class="dotControlItem"></li>
                        <li class="dotControlItem"></li>
                        <li class="dotControlItem"></li>
                    </ul>
                </div>
    
                <div class="wrapIconMouse">
                    <a href="#homeSliderUserID">
                        <div class="iconMouseContent">
                            <div class="iconMouseBody">
                                <div class="iconMouseBody-dot">
                                </div>
                            </div>
                            <div class="iconMouseArrow">
                                <img src="template/front-end-new/img/imagePageHomeNew/iconArrowMouse.svg" alt="icon arrow mouse">
                            </div>
                        </div>
                    </a>
                </div>
    
                <div class="menuContent">
                    <div class="wrapContentMenu waodate-container">
                        <div class="waodateAboutus">
                            <div class="wrapWaodateAboutus">
                                <a href="/" class="logoWaodate">
                                    <div class="wrapLogo">
                                        <img class="imgLogoWaodate" src="template/front-end-new/img/imagePageHomeNew/logoWaodate.svg" alt="logo">
                                        <img class="nameWaodate" src="template/front-end-new/img/imagePageHomeNew/waodate.svg" alt="nameWaodate">
                                    </div>
                                </a>
                                <div class="waodateAboutusContent">
                                    <div class="waodateAboutusBoxLeft">
                                        <div class="infoWaodate">
                                            <h3>Công ty</h3>
                                            <ul class="listInfo">
                                                <li class="infoItem">
                                                    <a href="/lien-he" class="infoLink">Liên hệ</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Tuyển dụng</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="/chinh-sach-bao-mat" class="infoLink">Bảo mật</a>
                                                </li>
                                            </ul>
                                        </div>
            
                                        <div class="infoWaodate">
                                            <h3>Cộng đồng</h3>
                                            <ul class="listInfo">
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Báo chí</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Hỗ trợ</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Mã khuyến mãi</a>
                                                </li>
                                            </ul>
                                        </div>
    
                                       <div class="wrapBtnLoginAndSocial">
                                            <div class="wrapBtnLogin">
                                                <a href="/dang-nhap" class="btnRadianBlue">
                                                    Đăng nhập
                                                </a>
                                                <a href="/dang-ky" class="btnRegister">
                                                    Đăng ký
                                                </a>
                                            </div>
                
                                            <div class="wrapWaodadeSocial">
                                                <h3>Cùng giao lưu</h3>
                                                <ul class="listSocial">
                                                    <li class="socialItem">
                                                        <a href="https://www.facebook.com/waodate" class="socialLink" target="_blank">
                                                            <img src="template/front-end-new/img/imagePageHomeNew/iconFacebook.svg" alt="iconFacebook">
                                                        </a>
                                                    </li>
                                                    <li class="socialItem">
                                                        <a href="https://www.youtube.com/channel/UCGkKti5hYoAF_t4nhafh_Bw" class="socialLink" target="_blank">
                                                            <img src="template/front-end-new/img/imagePageHomeNew/iconYoutube.svg" alt="iconYoutube">
                                                        </a>
                                                    </li>
                                                    <li class="socialItem">
                                                        <a href="https://www.instagram.com/accounts/login/?next=/waodate.official/" class="socialLink" target="_blank">
                                                            <img src="template/front-end-new/img/imagePageHomeNew/iconInstagram.svg" alt="iconInstagram">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                       </div>
                                    </div>
                                    
                                    <div class="waodateAboutusBoxRight">
                                        <div class="infoWaodate">
                                            <h3>Pháp lý</h3>
                                            <ul class="listInfo">
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Quyền riêng tư</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Điều khoản sử dụng</a>
                                                </li>
                                                <li class="infoItem">
                                                    <a href="#" class="infoLink">Chính sách cookie</a>
                                                </li>
                                            </ul>
                                        </div>
    
                                        <div class="wrapInfoCompany">
                                            <ul class="listInfoCompany">
                                                <li class="infoCompanyItem">
                                                    <h2 class="infoCompanyName">Trụ sở chính</h2>
                                                    <p class="infoCompanyContent"> 25/19 Nam Hòa, Phường Phước Long A, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                                                </li>
                                                <li class="infoCompanyItem">
                                                    <h2 class="infoCompanyName">Số hotline Waodate</h2>
                                                    <p class="infoCompanyContent">(+84) 028 3620 7133</p>
                                                </li>
                                                <li class="infoCompanyItem">
                                                    <h2 class="infoCompanyName">Chịu trách nhiệm</h2>
                                                    <p class="infoCompanyContent">Nguyễn Đình Nghĩa</p>
                                                </li>
                                                <li class="infoCompanyItem">
                                                    <h2 class="infoCompanyName">Mã số doanh nghiệp</h2>
                                                    <p class="infoCompanyContent">0314940727</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="waodateWrapMenuItem">
                            <div class="waodateWrapMenuContent">
                                <div class="wrapCloseMenu">
                                    <div class="closeMenu">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <a class="menuLink" href="/buoi-hen-ho-mau">
                                    <div class="overlayBackgroud"></div>
                                    <img src="/template/front-end-new/img/imagePageHomeNew/backgroundMenuCuocHenMau.jpg" alt="background cuộc hẹn mẫu">
                                    <p>Cuộc hẹn mẫu</p>
                                </a>
                                <a class="menuLink" href="/blog">
                                    <div class="overlayBackgroud"></div>
                                    <img src="/template/front-end-new/img/imagePageHomeNew/backgroundMenuTips&Blog.jpg" alt="background cuộc hẹn mẫu">
                                    <p>Tips & blog</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="menuContent-mobile  waodate-container">
                    <div class="wrapLogoAndClose">
                        <a href="#">
                            <div class="wrapLogo">
                                <img class="logoWaodate" src="template/front-end-new/img/imagePageHomeNew/logoWaodate.svg" alt="logo">
                                <img class="nameWaodate" src="template/front-end-new/img/imagePageHomeNew/waodate.svg" alt="nameWaodate">
                            </div>
                        </a>
                        <button class="closeMenu-mobile">
                            <div class="closeMenu">
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                        </button>
                    </div>
                    <div class="wrapBtnLogin">
                        <a href="/dang-nhap" class="btnRadianBlue">
                            Đăng nhập
                        </a>
                        <a href="/dang-ky" class="btnRegister">
                            Đăng ký
                        </a>
                    </div>
                    <div class="wrapMenuItem-mobile">
                        <div class="waodateMenuMobileContent">
                            <div class="menuMobileBox">
                                <div class="menuMobileBoxLeft">
                                    <div class="infoWaodate">
                                        <h3>Công ty</h3>
                                        <ul class="listInfo">
                                            <li class="infoItem">
                                                <a href="/lien-he" class="infoLink">Liên hệ</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Tuyển dụng</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="/chinh-sach-bao-mat" class="infoLink">Bảo mật</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menuMobileBoxRight">
                                    <div class="infoWaodate">
                                        <h3>Pháp lý</h3>
                                        <ul class="listInfo">
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Quyền riêng tư</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Điều khoản sử dụng</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Chính sách cookie</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="menuMobileBox">
                                <div class="menuMobileBoxLeft">
                                    <div class="infoWaodate">
                                        <h3>Cộng đồng</h3>
                                        <ul class="listInfo">
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Báo chí</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Hỗ trợ</a>
                                            </li>
                                            <li class="infoItem">
                                                <a href="#" class="infoLink">Mã khuyến mãi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="infoCompanyItem">
                                        <h2 class="infoCompanyName">Số hotline Waodate</h2>
                                        <p class="infoCompanyContent">(+84) 028 3620 7133</p>
                                    </div>
                                </div>
                                <div class="menuMobileBoxRight">
                                    <ul class="wrapLinkMenuItem">
                                        <li class="menuItem">
                                            <a href="#" class="menuLink">Cuộc hẹn mẫu</a>
                                        </li>
                                        <li class="menuItem">
                                            <a href="#" class="menuLink">tips & blog</a>
                                        </li>
                                    </ul>
                                    <div class="infoCompanyItem">
                                        <h2 class="infoCompanyName">Trụ sở chính</h2>
                                        <p class="infoCompanyContent"> 25/19 Nam Hòa, Phường Phước Long A, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                                    </div>
                                </div>
                            </div>
                            <div class="menuMobileBox">
                                <div class="menuMobileBoxLeft">
                                    <div class="infoCompanyItem">
                                        <h2 class="infoCompanyName">Chịu trách nhiệm</h2>
                                        <p class="infoCompanyContent">Nguyễn Đình Nghĩa</p>
                                    </div>
                                </div>
                                <div class="menuMobileBoxRight">
                                    <div class="waodateAboutusBoxItem boxRight">
                                        <div class="infoCompanyItem">
                                            <h2 class="infoCompanyName">Mã số doanh nghiệp</h2>
                                            <p class="infoCompanyContent">0314940727</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapMenuSocialAndLogin">
                        <div class="wrapWaodadeSocial">
                            <h3>Cùng giao lưu</h3>
                            <ul class="listSocial">
                                <li class="socialItem">
                                    <a href="#" class="socialLink" target="_blank">
                                        <img src="template/front-end-new/img/imagePageHomeNew/iconFacebook.svg" alt="iconFacebook">
                                    </a>
                                </li>
                                <li class="socialItem">
                                    <a href="#" class="socialLink" target="_blank">
                                        <img src="template/front-end-new/img/imagePageHomeNew/iconYoutube.svg" alt="iconYoutube">
                                    </a>
                                </li>
                                <li class="socialItem">
                                    <a href="#" class="socialLink" target="_blank">
                                        <img src="template/front-end-new/img/imagePageHomeNew/iconInstagram.svg" alt="iconInstagram">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="wrapBtnLogin">
                            <a href="/dang-nhap" class="btnRadianBlue">
                                Đăng nhập
                            </a>
                            <a href="/dang-ky" class="btnRegister">
                                Đăng ký
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
    
            <!-- home slider user -->
            <div class="homeSliderUser waodate-container" id="homeSliderUserID">
                <h1 class="homeSliderUserAsk">Bạn muốn gặp gỡ ?</h1>
                <div class="homeSliderUser-Control">
                    <button class="homeSliderUserControlItem active homeSliderUserControlItem-male">
                        <div class="iconControl">
                            <img src="template/front-end-new/img/imagePageHomeNew/iconSelectMale.png" alt="icon male">
                        </div>
                        Nam
                    </button>
                    <button class="homeSliderUserControlItem homeSliderUserControlItem-female">
                        <div class="iconControl">
                            <img src="template/front-end-new/img/imagePageHomeNew/iconSelectFemale.png" alt="icon female">
                        </div>
                        Nữ
                    </button>
                </div>
    
                <div class="openListUserMale active">
                    <div style="position: relative;">
                        <div class="homeSliderUser-content">
                            <div class="homeSliderUserContent-left">
                                <div class="homeSliderUserWrapListUser" >
                                    <div class="controlSlideUser controlArrowUp">
                                    </div>
                                    <div class="frameUserActive">
                                    </div>
                                    <div class="controlSlideUser controlArrowDown">
                                    </div>
                                    <ul class="listUser">
                                        <!-- clone user 1 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Hoàng Trung Nguyễn
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Shri Restaurant 
                                            </p>
                                        </li>
                                        <!-- clone user 2 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Lê Hoàng Đạt
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Truffle Restaurant
                                            </p>
                                        </li>
                                        <!-- 3 user trong database -->
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Cao Nhật Huy
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Cheese Coffee 
                                            </p>
                                        </li>
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Hoàng Trung Nguyễn
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Shri Restaurant 
                                            </p>
                                        </li>
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Lê Hoàng Đạt
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Truffle Restaurant
                                            </p>
                                        </li>
                                        <!-- end  -->
            
                                        <!-- clone user 0 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Cao Nhật Huy
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Cheese Coffee 
                                            </p>
                                        </li>
                                        <!-- clone user 1 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Hoàng Trung Nguyễn
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Shri Restaurant 
                                            </p>
                                        </li>
                                    </ul>
                                </div>
            
                                <!-- mobile -->
                                <div class="homeSliderUserWrapListUser-mobile">
                                    <ul class="listUser">
                                        <li class="userItem active">
                                            <p class="fullName">
                                                Cao Nhật Huy
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Cheese Coffee  
                                            </p>
                                        </li>
                                        <li class="userItem">
                                            <p class="fullName">
                                                Hoàng Trung Nguyễn
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Shri Restaurant 
                                            </p>
                                        </li>
                                        <li class="userItem">
                                            <p class="fullName">
                                                Lê Hoàng Đạt
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Truffle Restaurant 
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end mobile -->
                                <hr class="lineSliderUser">
                                <div class="wrapUserDescription">
                                    <div class="homeSliderUserDescription">
                                        “Chào em, anh là Huy, 27 tuổi, công việc hiện tại của anh là một chuyên gia sáng tạo hình ảnh của một digital marketing agency tại Hà Nội. Anh dễ gần, thích động vật và các món ăn healthy.  Anh đang tìm một bạn nữ dễ thương để cùng ngắm hoàng hôn tại Cheese Coffee và tâm tình những câu chuyện vui trong cuộc sống hằng ngày, chọn anh ngay em nhé.”
                                    </div>
                                    <div class="homeSliderUserDescription">
                                        “Chào em, anh là Hoàng Trung, 29 tuổi, hiện anh là founder của một công ty thiết kế mỹ thuật tại Sài Gòn. Anh đã từng du học tại Nga và có bằng Thạc sĩ ngôn ngữ. Sau đó, anh trở về Việt Nam để lập nghiệp, thời điểm này anh đang đi tìm một cô bạn gái tinh ý và có cá tính mạnh. Anh đã đặt sẵn một buổi hẹn, mình sẽ cùng nhau đi ăn tối tại nhà hàng Shri em nhé.”
                                    </div>
                                    <div class="homeSliderUserDescription">
                                        “Anh là Đạt Lê, 27 tuổi, hiện anh  là Founder & CEO của một mạng xã hội việc làm dành cho giới trẻ tại Việt Nam. Anh ưa thích công nghệ và thuộc tuýp người cởi mở, hướng ngoại. Thời điểm này anh đang đi tìm một người bạn gái đáng yêu và dễ thương. Hẹn em ở nhà hàng Âu Truffle, mình sẽ thưởng thức một buổi tối thật lãng mạn nhé.”
                                    </div>
                                </div>
                            </div>
            
                            <div class="homeSliderUserContent-right">
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="template/front-end-new/img/imagePageHomeNew/imgBigUserHuy.jpg" alt="avatar big">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="template/front-end-new/img/imagePageHomeNew/imgSmallHuy.jpg" alt="avatar small">
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgBigNguyen.jpg" alt="banner 2">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgSmallNguyen.jpg" alt="banner 4">
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgBigDat.jpg" alt="banner 4">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgSmallDat.jpg" alt="banner 2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- open menu female -->
                <div class="openListUserFemale  waodate-container">
                    <div>
                        <div class="homeSliderUser-content">
                            <div class="homeSliderUserContent-left">
                                <div class="homeSliderUserWrapListUser" >
                                    <div class="controlSlideUser controlArrowUp">
                                    </div>
                                    <div class="frameUserActive">
                                    </div>
                                    <div class="controlSlideUser controlArrowDown">
                                    </div>
                                    <ul class="listUser">
                                        <!-- clone user 1 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Nguyễn Thu Huyền
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Nấp Saigon 
                                            </p>
                                        </li>
                                        <!-- clone user 2 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Hồ Uyển Nhi
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Push Climbing
                                            </p>
                                        </li>
                                        <!-- 3 user trong database -->
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Lâm Ngọc Duy Uyên
                                            </p>
                                            <p class="address">
                                                hẹn bạn đi xem phim tại CGV  
                                            </p>
                                        </li>
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Nguyễn Thu Huyền
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Nấp Saigon 
                                            </p>
                                        </li>
                                        <li class="userItem userReal">
                                            <p class="fullName">
                                                Hồ Uyển Nhi
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Push Climbing
                                            </p>
                                        </li>
                                        <!-- end  -->
            
                                        <!-- clone user 0 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Lâm Ngọc Duy Uyên
                                            </p>
                                            <p class="address">
                                                hẹn bạn đi xem phim tại CGV  
                                            </p>
                                        </li>
                                        <!-- clone user 1 -->
                                        <li class="userItem">
                                            <p class="fullName">
                                                Nguyễn Thu Huyền
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Nấp Saigon 
                                            </p>
                                        </li>
                                    </ul>
                                </div>
            
                                <!-- mobile -->
                                <div class="homeSliderUserWrapListUser-mobile">
                                    <ul class="listUser">
                                        <li class="userItem active">
                                            <p class="fullName">
                                                Lâm Ngọc Duy Uyên
                                            </p>
                                            <p class="address">
                                                hẹn bạn đi xem phim tại CGV  
                                            </p>
                                        </li>
                                        <li class="userItem">
                                            <p class="fullName">
                                                Nguyễn Thu Huyền
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Nấp Saigon 
                                            </p>
                                        </li>
                                        <li class="userItem">
                                            <p class="fullName">
                                                Hồ Uyển Nhi
                                            </p>
                                            <p class="address">
                                                hẹn bạn tại Push Climbing
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end mobile -->
                                <hr class="lineSliderUser">
                                <div class="wrapUserDescription">
                                    <div class="homeSliderUserDescription">
                                        "Anh à, tan sở, anh thường hay làm gì? Em thì hay tìm những bộ phim lãng mạn và thả mình vào trong đấy. Là một cô gái ưa thích nhạc và thơ, nên dù  anh có khô khan một chút cũng không sao hết, vì ở gần em thì sẽ thấy ngọt ngào ngay thôi. Hay mình đi xem phim vào cuối tuần này cùng nhau anh nhé.”
                                    </div>
                                    <div class="homeSliderUserDescription">
                                        "Gửi anh, em là Khánh Ngọc, anh có thích tiếng nhạc du dương của đàn piano không? Em đang độc thân và là giảng viên thanh nhạc, em muốn tìm cho mình một anh chàng bản lĩnh, chín chắn để làm người yêu. Em đã chọn một không gian yên tĩnh như Nấp Sài Gòn để chúng mình gặp nhau, đi hẹn với em anh nhé.”
                                    </div>
                                    <div class="homeSliderUserDescription">
                                        “Mình nói các bạn nam nghe nhá, trên đời hai thứ không thể bỏ qua: tốc độ và đường cong. Mình đang tuyển người yêu là một bạn nam chín chắn, bạn nào mê tốc độ thì cứ alo cho mình, còn mê đường con thì inbox mình nhé.
                                            Còn muốn cả hai, thì tìm mình ngay trên Waodate. Mình chỉ chọn một người để lên đồ đi hẹn thôi, chậm tay thì đừng có tiếc đó nha.”
                                    </div>
                                </div>
                            </div>
            
                            <div class="homeSliderUserContent-right">
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="template/front-end-new/img/imagePageHomeNew/imgUserFemaleBig01.jpg" alt="avatar big">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="template/front-end-new/img/imagePageHomeNew/imgUserFemaleSmall01.jpg" alt="avatar small">
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgUserFemaleBig02.jpg" alt="banner 2">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgUserFemaleSmall02.jpg" alt="banner 4">
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapImageSlideUser">
                                    <div class="imageSlideUserItem">
                                        <div class="homeSliderUser-bigAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgUserFemaleBig03.jpg" alt="banner 4">
                                        </div>
                                        <div class="homeSliderUser-smallAvatar">
                                            <img src="/template/front-end-new/img/imagePageHomeNew/imgUserFemaleSmall03.jpg" alt="banner 2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- end -->
    
                </div>
               
                <div class="wrapDotControl">
                    <ul class="listDotControl">
                        <li class="dotControlItem"></li>
                        <li class="dotControlItem"></li>
                        <li class="dotControlItem"></li>
                    </ul>
                </div>
            </div>
    
            <!-- home introduction -->
            <div class="homeIntroduction waodate-container">
                <div class="homeLine-top"><img src="template/front-end-new/img/imagePageHomeNew/iconLineHome01.svg" alt="icon line"></div>
                <p class="homeIntroduction-title"><strong>“Cú hích thành đôi”</strong> tại waodate chính là thích đúng người, tìm đúng nơi. Nếu bạn thích hẹn hò với đàn ông trưởng thành và chín chắn, thu nhập trên 15 triệu, là chuyên gia và chuyên viên công sở tại các công ty hàng đầu ở Việt Nam, thì hãy lên ngay Waodate, anh ấy đang chờ bạn.”</p>
                <div class="homeIntroduction-content">
                    <p class="homeIntroductionContent-title">Tham gia ngay, có hàng ngàn buổi hẹn do chính các anh tự tay thiết kế dành cho bạn.</p>
                    <ul class="homeIntroductionContent-listUser">
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser01.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser02.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser03.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser04.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser05.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser06.jpg" alt="avatar user"></li>
                        <li class="homeIntroductionContent-userItem"><img src="template/front-end-new/img/imagePageHomeNew/listUser07.jpg" alt="avatar user"></li>
                    </ul>
                    <a href="/dang-ky" class="btnRadianBlue">Lập tài khoản</a>
                    <a href="#" class="linkUnderLine">Câu chuyện thương hiệu</a>
                </div>
                <div class="homeLine-bottom"><img src="template/front-end-new/img/imagePageHomeNew/iconLineHome02.svg" alt="icon line"></div>
            </div>
        </div>
    </main>
    <footer class="waodateEndFooter">
        <p class="txtFooter">GPKD: Số 187/GP-BTTTT</p>
        <p class="txtFooter">@2020- Bản quyền thuộc công ty TNHH MTV NDN</p>
    </footer>
    
    <script>
    
        window.addEventListener('DOMContentLoaded', function () {
           
            /*
            *  FUCNTION REMOVE CLASS ACTIVE FOR ARRAY        
            */
            function removeClassActive(array) {
                array.forEach(removeClass => {
                    removeClass.classList.remove('active')
                })
            }
    
            /*
            * OPEN MENU
            */
            let btnOpenMenu = document.querySelector('.navigationWaodate .btnMenu');
            let menu = document.querySelector('.homeSliderBanner .menuContent');
            let menuMobile = document.querySelector('.homeSliderBanner .menuContent-mobile');
            let btnCloseMenu = document.querySelector('.homeSliderBanner .menuContent .closeMenu');
            let btnCloseMenuMobile = document.querySelector('.homeSliderBanner .menuContent-mobile .closeMenu');
    
            function openMenu() {
                menu.classList.add('active');
                menuMobile.classList.add('active');
            }
            function closeMenu() {
                menu.classList.remove('active');
                menuMobile.classList.remove('active');
            }
            function closeMenuMobile() {
                menu.classList.remove('active');
                menuMobile.classList.remove('active');
            }
    
            btnOpenMenu.addEventListener('click', openMenu);
            btnCloseMenu.addEventListener('click', closeMenu);
            btnCloseMenuMobile.addEventListener('click', closeMenuMobile);
    
    
            /*
            * ĐỔI MÀU BUTTON KHI SCROLL
            */
            let btnLogin = document.querySelector('.navigationWaodate .btnLogin');
            let bannerSlider = document.querySelector('.homeSliderBanner');
    
            function changeColorBtn(){
                //35 là top=35px của navigation
                if(window.pageYOffset >= (bannerSlider.clientHeight - 35)){
                    btnLogin.classList.add('active');
                    btnOpenMenu.classList.add('active');
                }else{
                    btnLogin.classList.remove('active');
                    btnOpenMenu.classList.remove('active');
                }
            }
    
            window.addEventListener('scroll', changeColorBtn);
    
    
    
            /*
            * ĐỔI MÀU BUTTON KHI HOVER
            */
            let btnOutlineSlide = document.querySelector('.homeSliderBanner .wrapBtnhomeSliderBanner .btnOutline');
            let btnRadianSlide = document.querySelector('.homeSliderBanner .wrapBtnhomeSliderBanner .btnRadianBlue');
            let btnCloseMenuDesktop = document.querySelector('.homeSliderBanner .menuContent .wrapContentMenu .waodateWrapMenuItem .wrapCloseMenu')
            let menuTipsAndBlog = document.querySelector('.homeSliderBanner .menuContent .wrapContentMenu .waodateWrapMenuItem .waodateWrapMenuContent .menuLink:last-child');
    
            //btn slider banner
            btnOutlineSlide.addEventListener('mousemove', ()=> {
                btnRadianSlide.classList.add('active');
            })
            btnOutlineSlide.addEventListener('mouseout', ()=> {
                btnRadianSlide.classList.remove('active');
            })
            //btn menu close desktop
            menuTipsAndBlog.addEventListener('mousemove', ()=> {
                btnCloseMenuDesktop.classList.add('changeColor');
            })
            menuTipsAndBlog.addEventListener('mouseout', ()=> {
                btnCloseMenuDesktop.classList.remove('changeColor');
            })
            
    
            /*
            * BANNER SLIDER 
            */
            let overlayBackground = document.querySelector('.homeSliderBanner .overlayBannerSlide');
            let listImageSlide = document.querySelectorAll('.homeSliderBanner .imageSlideBanner');
            let listImageSlideMobile = document.querySelectorAll('.homeSliderBanner .imageSlideBanner-mobile');
            let listDotSlide = document.querySelectorAll('.homeSliderBanner .dotControlItem');
            let listTxtSlider = document.querySelectorAll('.homeSliderBanner .homeSliderBannerTxt .txtItem')
            let getHeightTxt = document.querySelector('.homeSliderBanner .homeSliderBannerTxt .hiddenTxt')
            let currentImageSlide = 0;
            let currentTxtSlider = 0;
    
            function SlideImg(){
                removeClassActive(listImageSlide)
                removeClassActive(listImageSlideMobile)
                removeClassActive(listDotSlide)
                currentImageSlide++;
                if(currentImageSlide == listImageSlide.length) currentImageSlide = 0;
                listImageSlide[currentImageSlide].classList.add('active');
                listImageSlideMobile[currentImageSlide].classList.add('active');
                listDotSlide[currentImageSlide].classList.add('active');
            }
            function SlideTxt(){
                removeClassActive(listTxtSlider)
                currentTxtSlider++;
                if(currentTxtSlider == listTxtSlider.length) currentTxtSlider = 0;
                listTxtSlider[currentTxtSlider].classList.add('active');
                getHeightTxt.innerHTML = listTxtSlider[currentTxtSlider].innerHTML;
            }
    
            let autoSlideImg = setInterval(SlideImg, 4000)
            let autoSlideTxt = setInterval(SlideTxt, 8000)
    
    
            /*
            * VUỐT BANNER SLIDER
            */
            let startMove;
            let endMove;
            
            // vuốt mobile
            function getStartMoveImg(e) {
                startMove = event.touches[0].clientX;
            }
            function getEndMoveImg(event) {
                endMove = event.touches[0].clientX;
            }
            function moveSlideUserMobile(){
                if(startMove - endMove > 0) {
                    currentImageSlide++
                    if(currentImageSlide == listImageSlide.length) currentImageSlide = 0
                    removeClassActive(listImageSlide)
                    removeClassActive(listImageSlideMobile)
                    removeClassActive(listDotSlide)
                    listImageSlide[currentImageSlide].classList.add('active');
                    listImageSlideMobile[currentImageSlide].classList.add('active');
                    listDotSlide[currentImageSlide].classList.add('active');
                    clearInterval(autoSlideImg)
                    clearInterval(autoSlideTxt)
                    autoSlideImg = setInterval(SlideImg, 4000)
                    autoSlideTxt = setInterval(SlideTxt, 8000)
                }else{
                    currentImageSlide--
                    if(currentImageSlide < 0) currentImageSlide = listImageSlide.length-1
                    removeClassActive(listImageSlide)
                    removeClassActive(listImageSlideMobile)
                    removeClassActive(listDotSlide)
                    listImageSlide[currentImageSlide].classList.add('active');
                    listImageSlideMobile[currentImageSlide].classList.add('active');
                    listDotSlide[currentImageSlide].classList.add('active');
                    clearInterval(autoSlideImg)
                    clearInterval(autoSlideTxt)
                    autoSlideImg = setInterval(SlideImg, 4000)
                    autoSlideTxt = setInterval(SlideTxt, 8000)
                }
            }
          
            overlayBackground.addEventListener('touchstart', getStartMoveImg )
            overlayBackground.addEventListener('touchmove', getEndMoveImg )
            overlayBackground.addEventListener('touchend', moveSlideUserMobile )
    
    
            /*
            * CHỌN USER NAM NỮ
            */
            let listBtnSexUser = document.querySelectorAll('.homeSliderUserControlItem');
            let btnSexMale = document.querySelector('.homeSliderUserControlItem-male');
            let btnSexFemale = document.querySelector('.homeSliderUserControlItem-female');
            let openListMale = document.querySelector('.openListUserMale');
            let openListFemale = document.querySelector('.openListUserFemale');
            let listDotSlideUser = document.querySelectorAll('.homeSliderUser .openListUserMale ~ .wrapDotControl .listDotControl .dotControlItem');
    
            function activeMale() {
                removeClassActive(listBtnSexUser);
                btnSexMale.classList.add('active')
                openListFemale.classList.remove('active');
                openListMale.classList.add('active');
            }
            function activeFemale() {
                removeClassActive(listBtnSexUser);
                btnSexFemale.classList.add('active')
                openListMale.classList.remove('active');
                openListFemale.classList.add('active');
            }
    
            btnSexMale.addEventListener('click', activeMale)
            btnSexFemale.addEventListener('click', activeFemale )
       
    
            /*
            * SLIDER USER NAM
            */
    
            /*
            * SLIDE MOBILE
            */
    
            if(window.innerWidth < 768) {
                slideUserMobile();
            }else{
                slideUserDesktop();
            }
    
            function slideUserDesktop(){
                let wrapList = document.querySelector('.homeSliderUser .openListUserMale .homeSliderUserWrapListUser .listUser');
                // list user clone cho bản pc
                let listUser = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserWrapListUser .userItem');
                // do slider này pc và mobile hiệu ứng khác nhau nên tạo ra 2 listUser khác nhau
                let listUserDesktop = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserWrapListUser .userItem.userReal');
                let listUserMobile = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserWrapListUser-mobile  .userItem');
                let listDescriptionUser = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserDescription');
                // let listDotSlideUser = document.querySelectorAll('.homeSliderUser .openListUserMale ~ .wrapDotControl .listDotControl .dotControlItem');
                let listImageUser = document.querySelectorAll('.homeSliderUser .openListUserMale .wrapImageSlideUser');
                let controlArrowUp = document.querySelector('.openListUserMale .controlArrowUp')
                let controlArrowDown = document.querySelector('.openListUserMale .controlArrowDown')
                let currentSlideUser = -1; // di chuyển silder wrapSlide lên trên để khi bấm controlArrowUp tạo hiệu ứng di chuyển xuống 
                let currentUserActiveSlide = 2 ; // index trong LIST USER TẠO HIỆU ỨNG DI CHUYỂN, active user thứ 2 trong list 7 user
                let currentUser = 0; // index trong LIST USER USER ĐƯỢC LẤY TỪ DATABASE
                let heightItem = listUser[0].clientHeight;
                let offInterval = document.querySelector('.openListUserMale .homeSliderUserWrapListUser');
            
                wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                listUser[currentUserActiveSlide].classList.add('active');
                listUserMobile[currentUser].classList.add('active');
                listDescriptionUser[currentUser].classList.add('active');
                listImageUser[currentUser].classList.add('active');
                // listDotSlideUser[currentUser].classList.add('active');
    
                function slideUserUp(){
                    // active list user
                    currentSlideUser++;
                    if(currentSlideUser == 0) {
                        wrapList.classList.add('active');
                        currentUserActiveSlide = 1;
                        removeClassActive(listUser)
                        wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                        listUser[currentUserActiveSlide].classList.add('active');
                        setTimeout(() => {
                            currentSlideUser = -3;
                            wrapList.classList.remove('active'); 
                            wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                            currentUserActiveSlide = 4;
                            removeClassActive(listUser)
                            listUser[currentUserActiveSlide].style.transition = "none";
                            listUser[currentUserActiveSlide].classList.add('active');
                        }, 500)
                    }else{
                        wrapList.classList.add('active'); // transition
                        wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                        currentUserActiveSlide--;
                        removeClassActive(listUser)
                        listUser[currentUserActiveSlide].classList.add('active');
                    }
                    
                    // active user
                    currentUser--;
                    if(currentUser < 0 ) {
                        currentUser = listUserDesktop.length-1;
    
                        removeClassActive(listDescriptionUser)
                        removeClassActive(listImageUser)
                        removeClassActive(listUserMobile)
                        // removeClassActive(listDotSlideUser)
    
                        listDescriptionUser[currentUser].classList.add('active');
                        listImageUser[currentUser].classList.add('active');
                        listUserMobile[currentUser].classList.add('active');
                        // listDotSlideUser[currentUser].classList.add('active');
                    }else{
                        removeClassActive(listDescriptionUser)
                        removeClassActive(listImageUser)
                        removeClassActive(listUserMobile)
                        // removeClassActive(listDotSlideUser)
    
                        listDescriptionUser[currentUser].classList.add('active');
                        listImageUser[currentUser].classList.add('active');
                        listUserMobile[currentUser].classList.add('active');
                        // listDotSlideUser[currentUser].classList.add('active');
                    }
                }
                
                function slideUserDown(){
                    currentSlideUser--;
                    if(currentSlideUser == -4) {
                        wrapList.classList.add('active');
                        wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
    
                        currentUserActiveSlide = 5;
                        removeClassActive(listUser)
                        listUser[currentUserActiveSlide].classList.add('active');
                        setTimeout(() => {
                            currentSlideUser = -1;
                            wrapList.classList.remove('active'); 
                            wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                            currentUserActiveSlide = 2;
                            removeClassActive(listUser)
                            listUser[currentUserActiveSlide].style.transition = "none";
                            listUser[currentUserActiveSlide].classList.add('active');
                        }, 500)
                    }else{
                        wrapList.classList.add('active'); // transition
                        wrapList.style.transform = `translateY(${heightItem * currentSlideUser}px)`
                        currentUserActiveSlide++;
                        removeClassActive(listUser)
                        listUser[currentUserActiveSlide].classList.add('active');
                    }
    
                    // active user
                    currentUser++;
                    if(currentUser == listUserDesktop.length ) {
                        currentUser = 0;
                        removeClassActive(listDescriptionUser)
                        removeClassActive(listImageUser)
                        removeClassActive(listUserMobile)
                        // removeClassActive(listDotSlideUser)
    
                        listDescriptionUser[currentUser].classList.add('active');
                        listImageUser[currentUser].classList.add('active');
                        listUserMobile[currentUser].classList.add('active');
                        // listDotSlideUser[currentUser].classList.add('active');
                    }else{
                        removeClassActive(listDescriptionUser)
                        removeClassActive(listImageUser)
                        removeClassActive(listUserMobile)
                        // removeClassActive(listDotSlideUser)
                        
                        listDescriptionUser[currentUser].classList.add('active');
                        listImageUser[currentUser].classList.add('active');
                        listUserMobile[currentUser].classList.add('active');
                        // listDotSlideUser[currentUser].classList.add('active');
                    }
                }
    
                let autoPlaySlideUser = setInterval(()=>{
                    controlArrowDown.click();
                }, 5000)
    
                let controlArrowDownClicked = false
                const controlArrowDownHandler = ()=> {
                    if (!controlArrowDownClicked) {
                        controlArrowDownClicked = true
                        slideUserDown()
                        clearInterval(autoPlaySlideUser)
                        autoPlaySlideUser = setInterval(()=>{
                            controlArrowDown.click();
                        }, 5000)
                    }
                }
    
                let controlArrowUpClicked = false
                const controlArrowUpHandler = ()=> {
                    if (!controlArrowUpClicked) {
                        controlArrowUpClicked = true
                        slideUserUp()
                        clearInterval(autoPlaySlideUser)
                        autoPlaySlideUser = setInterval(()=>{
                            controlArrowDown.click();
                        }, 5000)
                    }
                }
                
                controlArrowDown.onclick = controlArrowDownHandler
                controlArrowUp.onclick = controlArrowUpHandler
    
                wrapList.ontransitionend = () => {
                    controlArrowDownClicked = false
                    controlArrowUpClicked = false
                }
    
                
    
                /*
                * SLIDER USER NỮ *************** CHỈ CLONE RA
                */
                let wrapListFemale = document.querySelector('.homeSliderUser .openListUserFemale .homeSliderUserWrapListUser .listUser');
                let listUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserWrapListUser .userItem');
                let listUserDesktopFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserWrapListUser .userItem.userReal');
                let listUserMobileFeMale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserWrapListUser-mobile  .userItem');
                let listDescriptionUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserDescription');
                // let listDotSlideUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale ~ .wrapDotControl .listDotControl .dotControlItem');
                let listImageUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .wrapImageSlideUser');
                let controlArrowUpFemale = document.querySelector('.openListUserFemale .controlArrowUp')
                let controlArrowDownFemale = document.querySelector('.openListUserFemale .controlArrowDown')
                let currentSlideUserFemale = -1;
                let currentUserActiveSlideFemale = 2; 
                let currentUserFemale = 0;
                let heightItemFemale = listUserFemale[0].clientHeight;
                wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                listUserMobileFeMale[currentUserFemale].classList.add('active');
                listDescriptionUserFemale[currentUserFemale].classList.add('active');
                listImageUserFemale[currentUserFemale].classList.add('active');
                // listDotSlideUserFemale[currentUserFemale].classList.add('active');
                function slideUserUpFemale(){
                    currentSlideUserFemale++;
                    if(currentSlideUserFemale == 0) {
                        wrapListFemale.classList.add('active');
                        currentUserActiveSlideFemale = 1;
                        removeClassActive(listUserFemale)
                        wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                        listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                        setTimeout(() => {
                            currentSlideUserFemale = -3;
                            wrapListFemale.classList.remove('active'); 
                            wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                            currentUserActiveSlideFemale = 4;
                            removeClassActive(listUserFemale)
                            listUserFemale[currentUserActiveSlideFemale].style.transition = "none";
                            listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                        }, 500)
                    }else{
                        wrapListFemale.classList.add('active');
                        wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                        currentUserActiveSlideFemale--;
                        removeClassActive(listUserFemale)
                        listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                    }
                    currentUserFemale--;
                    if(currentUserFemale < 0 ) {
                        currentUserFemale = listUserDesktopFemale.length-1;
                        removeClassActive(listDescriptionUserFemale)
                        removeClassActive(listImageUserFemale)
                        removeClassActive(listUserMobileFeMale)
                        // removeClassActive(listDotSlideUserFemale)
                        listDescriptionUserFemale[currentUserFemale].classList.add('active');
                        listImageUserFemale[currentUserFemale].classList.add('active');
                        listUserMobileFeMale[currentUserFemale].classList.add('active');
                        // listDotSlideUserFemale[currentUserFemale].classList.add('active');
                    }else{
                        removeClassActive(listDescriptionUserFemale)
                        removeClassActive(listImageUserFemale)
                        removeClassActive(listUserMobileFeMale)
                        // removeClassActive(listDotSlideUserFemale)
                        listDescriptionUserFemale[currentUserFemale].classList.add('active');
                        listImageUserFemale[currentUserFemale].classList.add('active');
                        listUserMobileFeMale[currentUserFemale].classList.add('active');
                        // listDotSlideUserFemale[currentUserFemale].classList.add('active');
                    }
                }
                function slideUserDownFemale(){
                    currentSlideUserFemale--;
                    if(currentSlideUserFemale == -4) {
                        wrapListFemale.classList.add('active');
                        wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                        currentUserActiveSlideFemale = 5;
                        removeClassActive(listUserFemale)
                        listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                        setTimeout(() => {
                            currentSlideUserFemale = -1;
                            wrapListFemale.classList.remove('active'); 
                            wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                            currentUserActiveSlideFemale = 2;
                            removeClassActive(listUserFemale)
                            listUserFemale[currentUserActiveSlideFemale].style.transition = "none";
                            listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                        }, 500)
                    }else{
                        wrapListFemale.classList.add('active'); // transition
                        wrapListFemale.style.transform = `translateY(${heightItemFemale * currentSlideUserFemale}px)`
                        currentUserActiveSlideFemale++;
                        removeClassActive(listUserFemale)
                        listUserFemale[currentUserActiveSlideFemale].classList.add('active');
                    }
                    currentUserFemale++;
                    if(currentUserFemale == listUserDesktopFemale.length ) {
                        currentUserFemale = 0;
                        removeClassActive(listDescriptionUserFemale)
                        removeClassActive(listImageUserFemale)
                        removeClassActive(listUserMobileFeMale)
                        // removeClassActive(listDotSlideUserFemale)
                        listDescriptionUserFemale[currentUserFemale].classList.add('active');
                        listImageUserFemale[currentUserFemale].classList.add('active');
                        listUserMobileFeMale[currentUserFemale].classList.add('active');
                        // listDotSlideUserFemale[currentUserFemale].classList.add('active');
                    }else{
                        removeClassActive(listDescriptionUserFemale)
                        removeClassActive(listImageUserFemale)
                        removeClassActive(listUserMobileFeMale)
                        // removeClassActive(listDotSlideUserFemale)
                        listDescriptionUserFemale[currentUserFemale].classList.add('active');
                        listImageUserFemale[currentUserFemale].classList.add('active');
                        listUserMobileFeMale[currentUserFemale].classList.add('active');
                        // listDotSlideUserFemale[currentUserFemale].classList.add('active');
                    }
                }
                
                let autoPlaySlideUserFemail = setInterval(()=>{
                    controlArrowDownFemale.click();
                }, 5000)
                let controlArrowDownClickedFemale = false
                const controlArrowDownHandlerFemale = ()=> {
                    if (!controlArrowUpClickedFemale) {
                        controlArrowDownClickedFemale = true
                        slideUserDownFemale()
                        clearInterval(autoPlaySlideUserFemail)
                        autoPlaySlideUserFemail = setInterval(()=>{
                            controlArrowDownFemale.click();
                        }, 5000)
                    }
                }
                let controlArrowUpClickedFemale = false
                const controlArrowUpHandlerFemale = ()=> {
                    if (!controlArrowUpClickedFemale) {
                        controlArrowUpClickedFemale = true
                        slideUserUpFemale()
                        clearInterval(autoPlaySlideUserFemail)
                        autoPlaySlideUserFemail = setInterval(()=>{
                            controlArrowUpFemale.click();
                        }, 5000)
                    }
                }
                controlArrowDownFemale.onclick = controlArrowDownHandlerFemale
                controlArrowUpFemale.onclick = controlArrowUpHandlerFemale
                
                wrapListFemale.ontransitionend = () => {
                    controlArrowDownClickedFemale = false
                    controlArrowUpClickedFemale = false
                }
            }
            
            function slideUserMobile(){
                // NAM
                let listUserMobile = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserWrapListUser-mobile  .userItem');
                let listDescriptionUser = document.querySelectorAll('.homeSliderUser .openListUserMale .homeSliderUserDescription');
                let listImageUser = document.querySelectorAll('.homeSliderUser .openListUserMale .wrapImageSlideUser');
                let currentUserMale = 0;
    
                listUserMobile[currentUserMale].classList.add('active');
                listDescriptionUser[currentUserMale].classList.add('active');
                listImageUser[currentUserMale].classList.add('active');
                listDotSlideUser[currentUserMale].classList.add('active');
    
                /*
                *   VUỐT SLIDER USER
                */
                let wrapsliderUserContentMobileMale = document.querySelector('.homeSliderUser  .openListUserMale .homeSliderUser-content')
                let wrapsliderUserContentMobileFemale = document.querySelector('.homeSliderUser  .openListUserFemale .homeSliderUser-content')
                let starMoveSliderUser = undefined;
                let endMoveSliderUser = undefined;
    
                function resetPosition(){
                    starMoveSliderUser = undefined
                    endMoveSliderUser =undefined
                }
                function getPositionStartUser(e) {
                    starMoveSliderUser = e.touches[0].clientX;
                }
                function getPositionEndUser(e) {
                    endMoveSliderUser = e.touches[0].clientX;
                }
                function moveSliderUser(){
                    if(!Number.isNaN(starMoveSliderUser-endMoveSliderUser)){
                        if(starMoveSliderUser - endMoveSliderUser > 0){
                        currentUserMale++;
                        if(currentUserMale == listUserMobile.length) {
                            currentUserMale = 0;
                            removeClassActive(listUserMobile)
                            removeClassActive(listDescriptionUser)
                            removeClassActive(listImageUser)
                            removeClassActive(listDotSlideUser)
                            listUserMobile[currentUserMale].classList.add('active');
                            listDescriptionUser[currentUserMale].classList.add('active');
                            listImageUser[currentUserMale].classList.add('active');
                            listDotSlideUser[currentUserMale].classList.add('active');
                            // reset để khi click vào sẽ k nhảy slide
                            resetPosition()
                        }else {
                            removeClassActive(listUserMobile)
                            removeClassActive(listDescriptionUser)
                            removeClassActive(listImageUser)
                            removeClassActive(listDotSlideUser)
                            listUserMobile[currentUserMale].classList.add('active');
                            listDescriptionUser[currentUserMale].classList.add('active');
                            listImageUser[currentUserMale].classList.add('active');
                            listDotSlideUser[currentUserMale].classList.add('active');
                            resetPosition()
                        }
                    }else{
                        currentUserMale--;
                        if(currentUserMale < 0 ) {
                            currentUserMale = listUserMobile.length - 1;
                            removeClassActive(listUserMobile)
                            removeClassActive(listDescriptionUser)
                            removeClassActive(listImageUser)
                            removeClassActive(listDotSlideUser)
                            listUserMobile[currentUserMale].classList.add('active');
                            listDescriptionUser[currentUserMale].classList.add('active');
                            listImageUser[currentUserMale].classList.add('active');
                            listDotSlideUser[currentUserMale].classList.add('active');
                            resetPosition()
                        }else {
                            removeClassActive(listUserMobile)
                            removeClassActive(listDescriptionUser)
                            removeClassActive(listImageUser)
                            removeClassActive(listDotSlideUser)
                            listUserMobile[currentUserMale].classList.add('active');
                            listDescriptionUser[currentUserMale].classList.add('active');
                            listImageUser[currentUserMale].classList.add('active');
                            listDotSlideUser[currentUserMale].classList.add('active');
                            resetPosition()
                        }
                    }
                    }
                }
    
    
                // NU
                let listUserMobileFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserWrapListUser-mobile  .userItem');
                let listDescriptionUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .homeSliderUserDescription');
                let listDotSlideUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale ~ .wrapDotControl .listDotControl .dotControlItem');
                let listImageUserFemale = document.querySelectorAll('.homeSliderUser .openListUserFemale .wrapImageSlideUser');
                // let currentUserFemale = 0;
    
                listUserMobileFemale[currentUserMale].classList.add('active');
                listDescriptionUserFemale[currentUserMale].classList.add('active');
                listImageUserFemale[currentUserMale].classList.add('active');
                listDotSlideUserFemale[currentUserMale].classList.add('active');
    
                function moveSliderFemale(){
                    if(!Number.isNaN(starMoveSliderUser-endMoveSliderUser)){
                    if(starMoveSliderUser - endMoveSliderUser > 0){
                        currentUserMale++;
                        if(currentUserMale == listUserMobileFemale.length) {
                            currentUserMale = 0;
                            removeClassActive(listUserMobileFemale)
                            removeClassActive(listDescriptionUserFemale)
                            removeClassActive(listImageUserFemale)
                            removeClassActive(listDotSlideUserFemale)
                            listUserMobileFemale[currentUserMale].classList.add('active');
                            listDescriptionUserFemale[currentUserMale].classList.add('active');
                            listImageUserFemale[currentUserMale].classList.add('active');
                            listDotSlideUserFemale[currentUserMale].classList.add('active');
                            resetPosition()
                        }else {
                            removeClassActive(listUserMobileFemale)
                            removeClassActive(listDescriptionUserFemale)
                            removeClassActive(listImageUserFemale)
                            removeClassActive(listDotSlideUserFemale)
                            listUserMobileFemale[currentUserMale].classList.add('active');
                            listDescriptionUserFemale[currentUserMale].classList.add('active');
                            listImageUserFemale[currentUserMale].classList.add('active');
                            listDotSlideUserFemale[currentUserMale].classList.add('active');
                            resetPosition()
                        }
                    }else{
                        currentUserMale--;
                        if(currentUserMale < 0) {
                            currentUserMale =  listUserMobileFemale.length -1 ;
                            removeClassActive(listUserMobileFemale)
                            removeClassActive(listDescriptionUserFemale)
                            removeClassActive(listImageUserFemale)
                            removeClassActive(listDotSlideUserFemale)
                            listUserMobileFemale[currentUserMale].classList.add('active');
                            listDescriptionUserFemale[currentUserMale].classList.add('active');
                            listImageUserFemale[currentUserMale].classList.add('active');
                            listDotSlideUserFemale[currentUserMale].classList.add('active');
                            resetPosition()
                        }else {
                            removeClassActive(listUserMobileFemale)
                            removeClassActive(listDescriptionUserFemale)
                            removeClassActive(listImageUserFemale)
                            removeClassActive(listDotSlideUserFemale)
                            listUserMobileFemale[currentUserMale].classList.add('active');
                            listDescriptionUserFemale[currentUserMale].classList.add('active');
                            listImageUserFemale[currentUserMale].classList.add('active');
                            listDotSlideUserFemale[currentUserMale].classList.add('active');
                            resetPosition()
                        }
                    }
                    }
                    
                }
    
                wrapsliderUserContentMobileMale.addEventListener('touchstart',getPositionStartUser)
                wrapsliderUserContentMobileMale.addEventListener('touchmove',getPositionEndUser)
                wrapsliderUserContentMobileMale.addEventListener('touchend',moveSliderUser)
    
                wrapsliderUserContentMobileFemale.addEventListener('touchstart',getPositionStartUser)
                wrapsliderUserContentMobileFemale.addEventListener('touchmove',getPositionEndUser)
                wrapsliderUserContentMobileFemale.addEventListener('touchend',moveSliderFemale)
    
            }
    
            /* window.addEventListener('wheel', (e)=> {
                if(e.deltaY > 0) {
                    if(window.scrollY < window.innerHeight) {
                        let heightScreen = window.innerHeight;
                        window.scrollTo({
                            top : heightScreen,
                            behavior : 'smooth'
                        });
                    }
                }
                
            }) */
        }) // close event DOMCONTENTLOADED
    </script>
    
    </body>
    </html> 