<!-- ////////////// Begin Main ////////////// -->
<main style='background-color: white;'>
<div class='container br-8'>
<h2 style='text-align:center'><b>AN TOÀN HẸN HÒ</b></h2>

<p>Bạn vui lòng đọc kỹ những kinh nghiệm hẹn hò an toàn sau, để bảo đảm rằng những buổi hẹn hò của bạn là an toàn và bổ ích và tránh sự cố đáng tiếc xảy ra.</p>

<h5><b>1. Kết bạn và tham gia hẹn hò trên Mạng xã hội Waodate.com</b></h5>

<p>Bạn hãy đọc kỹ thông tin cá nhân và nội dung buổi hẹn hò do người dùng khác tạo ra cho đến khi bạn cảm thấy an tâm và sẵn sàng cho một cuộc hẹn thì hãy cung cấp thông tin liên lạc cho các người dùng khác.</p>
<p>Chỉ cung cấp thông tin liên lạc cho người dùng khác khi bản năng của bạn báo cho bạn biết rằng đây là người mà bạn có thể tin cậy được.</p>
<p>Theo kinh nghiệm, chúng tôi khuyên bạn nên tạo một tài khoản email mới hoàn toàn chỉ để phục vụ việc hẹn hò trên Mạng xã hội Waodate.com. Điều này nhằm cách ly và tránh bị lộ những email và thông tin không mong muốn.</p>
<p>Giữ kín mật khẩu của bạn và hãy chắc chắn rằng mật khẩu không dễ đoán ra được. Hãy chọn một mật khẩu độc nhất để sử dụng dịch vụ hẹn hò của Mạng xã hội Waodate.com mà bạn không sử dụng bất kỳ nơi nào khác.</p>

<h5><b>2. Bạn nên tránh các vấn đề sau:</b></h5>

<p>-	Người dùng khác có biểu hiện và ý định xin số tài khoản ngân hàng của bạn.</p>
<p>-	Yêu cầu bạn chuyển khoản, nạp tiền vào số tài khoản lạ.</p>
<p>-	Nạp thẻ cào điện thoại hay gửi mã nạp tiền của thẻ của các mạng di động.</p>
<p>-	Thông báo bạn đã trúng thưởng, tri ân, kỷ niệm, tặng quà…Sau đó yêu cầu bạn truy cập vào một tên miền lạ để cung cấp thông tin cho họ.</p>
<p>-	-	Yêu cầu bạn gửi những hình ảnh riêng tư nhất, nhạy cảm nhất của bạn và bạn không có ý định chia sẻ với bất kỳ ai (Nếu bạn vẫn giữ ý định chia sẻ những tấm ảnh riêng tư đó, thì nếu có bất kỳ vấn đề nào xảy ra, chúng tôi sẽ hoàn toàn không chịu trách nhiệm).</p>

<p>Nếu bạn gặp những người dùng có những biểu hiện trên, bạn hãy ngừng liên lạc với người dùng đó và báo cáo ngay cho chúng tôi tại mục “Báo cáo lạm dụng” hoặc “Liên hệ”</p>

<h5><b>3. Trước khi bạn tham gia buổi hẹn hò</b></h5>

<p>Bạn hãy trao đổi thật kỹ và chi tiết về buổi hẹn hò do người dùng đó tạo ra. Bạn phải chắc chắn rằng buổi hẹn hò đó sẽ diễn ra theo đúng trình tự và kịch bản do người đó đã viết ra từ thời gian, địa điểm đến những gì mà người đó sẽ mang lại cho bạn tại buổi hẹn hò đó. Nếu người dùng đó thay đổi bất cứ chi tiết nào trong buổi hẹn hò đó mà bạn cảm thấy bất an không an toàn, hãy hủy tham gia buổi hẹn hò đó ngay lập tức.</p>

<p>Bạn hãy nâng cao kinh nghiệm hẹn hò của mình, chỉ nên chọn những buổi hẹn hò ở những địa điểm rõ ràng, cụ thể và bạn cảm thấy an toàn ở địa điểm đó. Hãy tránh những địa điểm hẹn hò nhạy cảm, không rõ ràng, bạn không cảm nhận được sự an toàn cũng như thời gian hẹn hò khiến bạn cảm thấy lo lắng.</p>

<h5><b>4. Trong khi hò hẹn</b></h5>
<p>Bạn hãy đảm bảo rằng, mọi diễn biến của cuộc hẹn mà bạn tham gia phải diễn ra theo đúng kịch bản mà người dùng đó đã viết ra, nếu trong suốt buổi hẹn hò, người đó yêu thực hiện không đúng theo mô tả hay kịch bản hẹn hò đó, hoặc yêu cầu bạn thực hiện, hay tham gia những hoạt động khác không có trong kịch bản của buổi hẹn hò, nếu bạn cảm thấy không an toàn thì hãy cương quyết từ chối và hủy buổi hẹn ngay lập tức.</p>
<p>Trong suốt buổi hẹn hò, bạn tuyệt đối không được cung cấp trao đổi chia sẻ những thông tin quan trọng như số tài khoản ngân hàng, thẻ tín dụng, tiền bạc thông tin nhạy cảm khác cho đối phương.</p>
<p>Hãy sử dụng thực phẩm được cung cấp tại nơi bạn được hẹn hò, hạn chế tối đa việc sử dụng những thực phẩm (kể cả nước uống) do người dùng khác mang theo mời bạn sử dụng.</p>
<p>Nếu hẹn hò với một người tại ngoại quốc, hãy ý thức về các dị biệt văn hóa và hãy dành thời gian để học hỏi văn hóa và thấu hiểu kỳ vọng của người nước ngoài về mối quan hệ đó. Hãy cùng nhau dành càng nhiều thời gian càng tốt để tìm hiểu người đó, đừng nên quá vội vàng mà hãy đầu tư thêm thời gian để tìm hiểu người đó trước khi mọi sự trở nên nghiêm túc sẽ giúp bạn tránh được những điều không mong muốn.</p>
</div>
</main>