<div class="wao-full-width-banner">
    <!-- <img src="/template/front-end-new/img/home/banner-new.jpg" alt=""> -->
    <img src="/template/front-end-new/img/home/motocycle-junpham.jpg" alt="">
    <div class="container wao-container">
        <div class="content">
            <h1>Trang hẹn hò với <br>các anh chàng chín chắn</h1>
            <p class="wao-pc" style="width: 453px;height: 95px;left: 107px;top:563px; max-width: 70vw;">
                Waodate là một trang hẹn hò trực tuyến kết nối các bạn nữ với các bạn nam chín chắn, trưởng thành, hiện là chuyên viên và chuyên gia ở các công ty hàng đầu tại Việt Nam, với mức thu nhập bình quân trên 15 triệu.
            </p>
            <a href="/ca-nhan/tao-buoi-hen-ho" class="wao-pc-inline-block wao-btn wao-btn-bubble" style="padding: 12px 30px; border-radius: 12px">
                Tạo buổi hẹn ngay
            </a>
        </div>
    </div>
</div>