<div class="container wao-container wao-container-full-width-mb">
    <div class="row wao-justi-center">
        <div class="col-12 col-lg-11">
            <div class="wao-banner-inner">
                <img src="/template/front-end-new/img/home/inner_banner_fix.jpg" alt="">
                <p class="content">
                    Trăm ngàn lời chat <br>không bằng một lát bên nhau
                </p>
            </div>
        </div>
    </div>
</div>